<?xml version="1.0" encoding="utf-8"?>
<!--
이 파일은 웹 프로젝트의 게시/패키지 프로세스에 사용됩니다. 이 MSBuild 파일을 편집하여 이 프로세스의 동작을
사용자 지정할 수 있습니다. 이 작업에 대해 자세히 알아보려면 http://go.microsoft.com/fwlink/?LinkID=208121을 방문하세요. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>210.89.181.89</MSDeployServiceURL>
    <DeployIisAppPath>Little_Jumper</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="little_jumper" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=10.33.13.143;port=3306;database=little_jumper;user id=JsWebAdmin;password=Jsweb2012@;persistsecurityinfo=False;minpoolsize=20;maxpoolsize=100;connectiontimeout=15" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\little_jumper_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=10.33.13.143;Port=3306;Database=little_jumper;UiD=JsWebAdmin;Pwd=Jsweb2012@;Persist Security Info=false;Min Pool Size=20;Max Pool Size=100;Connection Timeout=15;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Igy_db_conn" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=localhost,1433;database=Igy_db;User ID=IGY_Manager;Password=jsigymanager2012@;Persist Security Info=false;Min Pool Size=20;Max Pool Size=100;Connection Timeout=15;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Igy_db_conn_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=localhost,1433;database=Igy_db;User ID=IGY_Manager;Password=jsigymanager2012@;Persist Security Info=false;Min Pool Size=20;Max Pool Size=100;Connection Timeout=15;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Cp_db_conn" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=localhost,1433;database=CrossPada;User ID=JS_CP_Admin;Password=jsinterval2016!1;Persist Security Info=false;Min Pool Size=20;Max Pool Size=100;Connection Timeout=15;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Cp_db_conn_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=localhost,1433;database=CrossPada;User ID=JS_CP_Admin;Password=jsinterval2016!1;Persist Security Info=false;Min Pool Size=20;Max Pool Size=100;Connection Timeout=15;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Rm_db_conn" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=localhost,1433;database=User_dbs;User ID=JS_RM_Admin;Password=jsinterval2016!1;Persist Security Info=false;Min Pool Size=20;Max Pool Size=100;Connection Timeout=15;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Rm_db_conn_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=localhost,1433;database=User_dbs;User ID=JS_RM_Admin;Password=jsinterval2016!1;Persist Security Info=false;Min Pool Size=20;Max Pool Size=100;Connection Timeout=15;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="little_jumper2" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=169.56.97.92;port=3306;database=little_jumper;user id=root;password=jsinterval2012@;persistsecurityinfo=False;minpoolsize=20;maxpoolsize=100;connectiontimeout=15" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\little_jumper2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=169.56.97.92;Port=3306;Database=little_jumper;UiD=root;Pwd=jsinterval2012@;Persist Security Info=false;Min Pool Size=20;Max Pool Size=100;Connection Timeout=15;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="little_jumper3" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=db-hbbi.cdb.ntruss.com;port=3306;database=little_jumper;user id=JsDBAdmin;password=jsgames2012@;persistsecurityinfo=False;minpoolsize=20;maxpoolsize=100;connectiontimeout=15" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\little_jumper3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=db-hbbi.cdb.ntruss.com;Port=3306;Database=little_jumper;UiD=JsDBAdmin;Pwd=jsgames2012@;Persist Security Info=false;Min Pool Size=20;Max Pool Size=100;Connection Timeout=15;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="little_jumper_test" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=localhost;port=3306;database=little_jumper;user id=JsMainAdmin;password=intervaltest;persistsecurityinfo=False;minpoolsize=20;maxpoolsize=100;connectiontimeout=15" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\little_jumper_test_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=localhost;Port=3306;Database=little_jumper;UiD=JsMainAdmin;Pwd=intervaltest;Persist Security Info=false;Min Pool Size=20;Max Pool Size=100;Connection Timeout=15;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="JsWebServer_CP.Models.ApplicationDbContext, JsWebServer_CP" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Cp_db_conn-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Igy_db_conn-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)little_jumper-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)little_jumper2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)little_jumper3-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)little_jumper_test-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Rm_db_conn-Web.config Connection String" />
  </ItemGroup>
</Project>